  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-image: url(https://i.pinimg.com/736x/75/9c/38/759c38a66a6fd130806ef329346633fb.jpg);
      background-size: cover;
      color: white;
    }


       header {
       display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      margin-top: 0.3rem;
      background: rgb(255, 255, 255, 0.7);
      color:black;
      border-radius: 1.3rem;
      position: sticky;
      top: 0;
      margin-bottom: 2rem;
     
    }
    
    footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      margin-top: 0.3rem;
    }

    ul {
      list-style: none;
      display: flex;
      gap: 1rem;
      align-items: center ;
    }


    .thirdchild{
      background-color: black;
      padding: 0.2rem;
      border-radius: 0.4rem;
      color: white;
      margin-left: 1rem;
    }

    .thirdchild2 {
      padding: 0.2rem;
      border-radius: 0.4rem;
      color: black;
      margin-right: 0;
    }

    .Topic{
        background-image: url(https://i.pinimg.com/736x/2b/52/9c/2b529c2c78c7e531797575889b05fd9d.jpg);
        background-size: cover;
        text-align: center;
        font-size: 3.3rem;
        color: white;
        height: 20rem;
        }

    .Text1{
        padding-top: 8rem;
        font-size: 3.3rem;
    }
    
    .img1{
        border: 1px black solid;
        height: 44rem;
        width: 50rem;
        margin-left: 9rem;
        margin-right: 3.3rem;
        
    }

    .container {
      display: flex;
      gap: 1.3rem;
      padding: 1.3rem;
      margin: 2rem;
    }

    .hero {
      flex: 1;
      background: rgba(134, 127, 127, 0.7);
      border-radius: 10px;
      padding: 1.5rem;
      box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    }

    .profile-photo{
      width: 10rem;
      height: 10rem;
      border-radius: 100%;
    }

    .hero h1 {
      margin-top: 10px;
      font-size: 1.8rem;
    }

    .skills {
      margin-top: 15px;
    }

    .skills span {
      display: inline-block;
      background: black;
      color: white;
      margin: 5px;
      padding: 8px 12px;
      border-radius: 20px;
      font-size: 0.9rem;
    }

    .player {
      margin-bottom: 30px;
    }

    .player img {
      border-radius: 10px;
      margin-top: 10px;
    }


    .player-card {
      display: flex;
      align-items: center;
      background: rgba(103, 102, 102, 0.1);
      border-radius: 0.9rem;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      margin-bottom: 1.3rem;
      overflow: hidden;
    }

    .player-card img {
      width: 13rem;
      height: 13rem;
      border-radius: 100%;
      object-fit: cover;
    }

    .player-info {
      padding: 1.3rem;
      flex: 1;
    }

    .player-info h3 {
      margin: 0 0 0.9rem;
    }

    .player-info p {
      margin: 0 0 1rem;
      color: white;
    }


    .glink{
      color: white;
      text-decoration: none;
    }

    .glink:hover{
      background-color: grey;
      color: black;
    }

    .imgflex{
      display: flex;
      width: 400px;
      height: 400px;
      margin-left: 450px;
    }

    @media(max-width: 400px) {
      .img1{
        height: 300px;
        width: 25rem;
        margin-left: 0;
      }

      .imgflex{
        display: flex;
        width: 20rem;
        height: 15rem;
        margin-left: 0;
      }

      .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
        }
      }



